* {box-sizing: border-box;}

body,
figure, p, h1, h2, h3 {margin: 0;}

ul, li, menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}