// colors
$bgBody: #fff;
$color: #002a52;
$headerBg: #ebeef1;
$buttonActiveColor: #e40045;
$dataColor: #4c4c4c;
$afterBg: #e0e0e0;
$beforeBg: rgba(255, 255, 255, 0.2);
$footerColor: #a6adb8;


//fonts
$family: "DinTextCondensedPro", Verdana, Helvetica, Arial, sans-serif;
$fz: 11px;
$lh: 14px;
$fzSpan: 16px;
$lsSpan: 1px;
$wsSpan: 0.1em;
$lsSaidebar: 0.07em;
$fzContentA: 24px;
$lhColumn: 1em;
$fzFTel: 18px;
$wsButton: -0.1em;



// Social Media Brand Colors
$youtube: #dd2825;
$facebook: #3864a3;
$linkedin: #0177b5;